<div class="player">
  <table>
    <tbody>
      <tr
        *ngFor="let d of instruments"
        appDrum
        [name]="d"
        [sound]="sound"
        [bar]="mach$ | async"
        (restart)="restart($event)"
      ></tr>
      <tr>
        <td colspan="9"><hr /></td>
      </tr>
      <tr>
        <td>BPM</td>
        <td>{{ bpm }}</td>
        <td colspan="7">
          <Input
            class="range"
            type="range"
            #bpmSlider
            [value]="bpm"
            (change)="beatChange($event)"
            step="6"
            min="6"
            max="400"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="player__controls">
    <div
      class="player__controls-bg"
      style="background-color: rgb(249, 229, 97)"
    ></div>
    <div class="player__bpm">
      <!-- (click)="setBpm(bpm.value)" -->
      <button>BPM</button>
    </div>
    <div class="player__play">
      <button (click)="beat.start()">start</button>
    </div>
    <div class="player__stop">
      <button (click)="beat.stop()">stop</button>
    </div>
  </div>
</div>
