html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #ff00d4 0%, #00e061 100%);
  td {
    border-left: solid 3px transparent;
    &.active {
      border-left: solid 3px #009de0;
    }
  }
}
